<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="https://docs.google.com/forms/d/e/1FAIpQLScGYkDZo8Mn_ipy6QGOlwgyYkZ8xMyoAUyonyrb0VY5Qzf84Q/viewform?usp=sf_link">Pre-workshop survey</a></td> </tr>
      <tr> <td>12:00</td>  <td>Set up support and troubleshooting</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://librarycarpentry.org/lc-marcedit/01-introduction.html>Introduction to MarcEdit</a></td> </tr>
      <tr> <td>15:00</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:20</td>  <td><a href="https://librarycarpentry.org/lc-marcedit/01-introduction.html>Introduction to MarcEdit cont'd</a></td> </tr>
      <tr> <td>16:45</td>  <td> Wrap up and <a href="https://docs.google.com/forms/d/e/1FAIpQLSd1EaPGBdfyojCYV0VR-h8f3YWgIS19cgWTfIXHSA3DtCNiFQ/viewform?usp=sf_link">Post-workshop survey</a></td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
